LOSCFG_COMPILE_DEBUG=y
LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
# LOSCFG_IRQ_USE_STANDALONE_STACK is not set
# LOSCFG_ARCH_UNALIGNED_EXC is not set
LOSCFG_SOC_COMPANY="rockchip"
LOSCFG_SOC_SERIES_RK22XX=y
LOSCFG_KERNEL_BACKTRACE=y
LOSCFG_KERNEL_CPUP=y
LOSCFG_PLATFORM_EXC=y
LOSCFG_FS_LITTLEFS=y
LOSCFG_LFS_MAX_OPEN_FILES=32
LOSCFG_NET_LWIP=y
LOSCFG_THUMB=y
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_DRIVERS_HDF_PLATFORM_GPIO=y
LOSCFG_DRIVERS_HDF_PLATFORM_I2C=y
LOSCFG_DRIVERS_HDF_PLATFORM_SPI=y
